.contact{
    background-color: black;
    min-height: 100vh;
    display: flex;
    align-items: center;

    justify-content: center;
}
.contact div{
    background-color: #FFE400;
    font-family: 'Saira Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.contact p{
    display: flex;
    align-items: center;
}
